{% extends 'base.html' %}
{% block content %}
{% if form.errors or form.non_field_errors %}
<!-- error -->
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>Nie masz jeszcze konta? <a href="{% url 'signup' %}">Zarejestruj się.</a></div>
    <button type="submit">Log In</button> <a href="{% url 'resetpsw' %}"><div> Forgot Password</div></a>
  </form>
{% endblock %}